{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block js %}{% endblock %}


{% block body %}
  <!-- Mount jsx on element with ids. -->
  <div class="container-fluid overflow-x-hidden overflow-y-hidden" id="all-lists" style="padding-left: 0px; padding-right: 0px;">
  
  <pre id="api-errors" style="white-space: pre-wrap;"></pre>


  <script src="/static/js/secrets.js" type='text/javascript'></script>
  <script src="/static/js/oauth.js" type="text/javascript"></script>
  <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
  <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
  <script src="/static/js/tasklists.jsx" type="text/jsx"></script>
{% endblock %}


